@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav_link {
        @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right
    }

    .text-bg {
        background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #44028f;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #c277fa;
        border-radius: 4px;
    }
}